<link rel="import" href="../polymer/polymer-element.html">

<dom-module id="transactions-element">
  <template>
    <style>
      :host {
        display: block;
      }
      .tab{
       display:inline-flex;
       width:100%;
       justify-content:center;
       border:0;
     }
      h2{
        text-align:center;
        font-size:30px;
      }
      table, thead, tr, th, tbody, td {
        border: 1px solid #000;
        text-align: center;
        background-color:#87888e;
      }
      th {
        font-weight: bold;
      }
    </style>
    <section class="tab">
      <article>
        <h2>[[prop1]]!</h2>
        <table>
          <thead>
            <tr>
              <th>Data</th>
              <th>Description</th>
              <th>Amount</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>lorem lorem lorem lorem lorem</td>
              <td>lorem lorem lorem lorem lorem</td>
              <td>lorem lorem lorem lorem lorem</td>
            </tr>
            <tr>
              <td>lorem lorem lorem lorem lorem</td>
              <td>lorem lorem lorem lorem lorem</td>
              <td>lorem lorem lorem lorem lorem</td>
            </tr>
            <tr>
              <td>lorem lorem lorem lorem lorem</td>
              <td>lorem lorem lorem lorem lorem</td>
              <td>lorem lorem lorem lorem lorem</td>
            </tr>
            <tr>
              <td>lorem lorem lorem lorem lorem</td>
              <td>lorem lorem lorem lorem lorem</td>
              <td>lorem lorem lorem lorem lorem</td>
            </tr>
          </tbody>
        </table>
      </article>
    </section>
  </template>

  <script>
    /**
     * `transactions-element`
     * table Transaction
     *
     * @customElement
     * @polymer
     * @demo demo/index.html
     */
    class TransactionsElement extends Polymer.Element {
      static get is() { return 'transactions-element'; }
      static get properties() {
        return {
          prop1: {
            type: String,
            value: 'Transactions'
          }
        };
      }
    }

    window.customElements.define(TransactionsElement.is, TransactionsElement);
  </script>
</dom-module>
